:root {
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.header {
    display: grid;
    min-height: 100px;
    text-align: center;
    align-items: center;
}

.red-btn {
    background: #FE5F55;
}
.red-btn:hover {
    background: #fd3f33;
}
.red-btn:active {
    background: #eb0f01;
}

.green-btn {
    background: #139675;
}
.green-btn:hover {
    background: #118769;
}
.green-btn:active {
    background: #0f785d;
}

.blue-btn {
    background: #009ed8;
}
.blue-btn:hover {
    background: #008ec2;
}
.blue-btn:active {
    background: #007eac;
}

.button {
    transition: .2s;
    min-height: 50px;
}

.container {
    min-height: calc(100vh - 100px);
    background: blue;
}